* {
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    background-image: url(../img/maxresdefault.jpg);
}

#progress {
    width: 350px;
    height: 25px;
    border: solid 1px rgb(0, 0, 0);
    position: absolute;
}

#progressing{
    display: inline-block;
    max-width: 349px;
    width: 0px;   
    height: 25px;
    border: solid 1px rgb(0, 0, 0);    
    background-color: rgb(255, 0, 251);
    position: relative;
}